@model AddProductViewModel
@{
    <link rel="stylesheet" href="~/css/UserAdmin.css">
    <title>Store Admin</title>
    Layout = null;
}
<div class="patient-box">
    <h2>Product</h2>
    <form asp-action="AddProduct" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="user-box">
            <input asp-for="Name" type="text" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <label>Product Name</label>
        </div>

        <div class="user-box date">
            <input type="text"  asp-for="Details">
            <span asp-validation-for="Details" class="text-danger"></span>
            <label>Details</label>
        </div>
      
        <div class="user-box">
            <input type="number" asp-for="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
            <label>Price</label>
        </div>

        <div class="user-box">
            <input type="file" asp-for="Product_Image" onchange="loadFile(event)" accept="image /*" />
            <img id="myImg" height="400" width="400" style="margin-left:100" />
            <span asp-validation-for="Product_Image" class="text-danger"></span>
            <label>Product Image</label>
        </div>
        
        
        <button type="submit" id="patient">
            <span></span>
            <span></span>
            <span></span>
            <span></span> Add A Product
        </button>

    </form>

</div>

<script>
    var loadFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var myImg = document.getElementById('myImg');
            myImg.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@* <script>
    document.addEventListener("DOMContentLoaded", function () {
        const AddressContainer = document.getElementById("addressContainer");
        const addAddressBtn = document.getElementById("addAddressBtn");
        const phoneContainer = document.getElementById("phoneContainer");
        const addPhoneBtn = document.getElementById("addPhoneBtn");

        addAddressBtn.addEventListener("click", function () {
            const addressDiv = document.createElement("div");
            addressDiv.className = "address-container";

            const addressNameInput = document.createElement("input");
            addressNameInput.type = "text";
            addressNameInput.name = "PatientAddress";
            addressNameInput.required = true;

            const removeAddressBtn = document.createElement("button");
            removeAddressBtn.type = "button";
            removeAddressBtn.textContent = "Remove Address";
            removeAddressBtn.addEventListener("click", function () {
                addressContainer.removeChild(addressDiv);
            });

            addressDiv.appendChild(addressNameInput);
            addressDiv.appendChild(removeAddressBtn);


            addressContainer.appendChild(addressDiv);
        });

        addPhoneBtn.addEventListener("click", function () {
            const phoneDiv = document.createElement("div");
            phoneDiv.className = "phone-container";

            const phoneInput = document.createElement("input");
            phoneInput.type = "tel";
            phoneInput.name = "PatientPhone";
            phoneInput.required = true;

            const removePhoneBtn = document.createElement("button");
            removePhoneBtn.type = "button";
            removePhoneBtn.textContent = "Remove Phone Number";
            removePhoneBtn.addEventListener("click", function () {
                phoneContainer.removeChild(phoneDiv);
            });

            phoneDiv.appendChild(phoneInput);
            phoneDiv.appendChild(removePhoneBtn);

            phoneContainer.appendChild(phoneDiv);
        });
    });
</script> *@

