@model AddRawMaterialViewModel
@{
    <link rel="stylesheet" href="~/css/UserAdmin.css">
    <title>Store Admin</title>
    Layout = null;
}
<div class="patient-box">
    <h2>RawMaterial</h2>
    <form asp-action="AddMaterial" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="user-box">
            <input asp-for="Name" type="text" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <label>RawMaterial Name</label>
        </div>

        <div class="user-box date">
            <input type="text"  asp-for="Details">
            <span asp-validation-for="Details" class="text-danger"></span>
            <label>Details</label>
        </div>
      
        <div class="user-box">
            <input type="number" asp-for="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
            <label>Price</label>
        </div>

        <div class="user-box">
            <input type="file" asp-for="Material_Image" onchange="loadFile(event)" accept="image /*" />
            <img id="myImg" height="400" width="400" style="margin-left:100" />
            <span asp-validation-for="Material_Image" class="text-danger"></span>
            <label>Material Image</label>
        </div>
        
        
        <button type="submit" id="patient">
            <span></span>
            <span></span>
            <span></span>
            <span></span> Add A RawMaterial
        </button>

    </form>

</div>

<script>
    var loadFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var myImg = document.getElementById('myImg');
            myImg.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



